{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Zaloguj się{% endblock %}

{% block content %}


<div class="container-fluid" id="login-page">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Zaloguj się</h3>
              <p>Jeżeli nie masz jeszcze konta, możesz
<a href="{{ signup_url }}">utworzyć je</a> tutaj.</p>
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-label-group">
                    {{ form.login}}
                  <label for="id_login">Login</label>
                </div>

                <div class="form-label-group">
                  {{ form.password}}
                  <label for="id_password">Hasło</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  {{ form.remember }}
                  <label for="id_remember">Zapamiętaj hasło</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Zaloguj się</button>
                <div class="text-center">
                  <a class="small" href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
