{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container-fluid" id="reset-password-page">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
              <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
              <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-label-group">
                    {{ form.email}}
                  <label for="id_email">E-mail</label>
                </div>


                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">{% trans 'Reset My Password' %}</button>
              </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
