{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Utwórz konto{% endblock %}

{% block content %}

<div class="container-fluid" id="login-page">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Utwórz konto</h3>
              <p>Masz już konto? Możesz się
<a href="{{ login_url }}">zalogować</a>.</p>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-label-group">
                    {{ form.email}}
                  <label for="id_email">E-mail</label>
                </div>

                <div class="form-label-group">
                  {{ form.username}}
                  <label for="id_username">Login</label>
                </div>

                <div class="form-label-group">
                  {{ form.password1}}
                  <label for="id_password1">Hasło</label>
                </div>

                <div class="form-label-group">
                  {{ form.password2}}
                  <label for="id_password2">Powtórz hasło</label>
                </div>


                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Utwórz konto</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
