{% extends 'base.html' %}

{% block content %}
<div class="container" id="books">
<h1>Moje książki</h1>

<table class="table">
  <th>Tytuł książki</th>
  <th>Autor</th>
  <th>Status</th>
  <th></th>
  <th></th>

{% for book in user_books %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.get_status_display }}</td>
    <td>{% if book.status == 'AV' %}
            <a class="btn btn-success btn-sm" href="{% url 'rental:loan-book' pk=book.pk %}">Wypożycz</a>
        {% endif %}
        {% if book.status == 'LO' %}
            <a class="btn btn-warning btn-sm" href="{% url 'rental:return-book' pk=book.pk %}">Zwróć</a>
        {% endif %}</td>
    <td>{% for loan in loan_detail %}
            {% if loan.book_id == book.id %}
      <p>Wypożyczona: {{loan.date}}</br>
        <strong>{{loan.friend_name}} {{loan.friend_surname}}</strong> (e-mail: {{loan.friend_email}})</p>
            {% endif%}
        {% endfor %}</td>
  </tr>
{% endfor %}
</table>


{% if user_books.has_other_pages %}
  <ul class="pagination">
    {% if user_books.has_previous %}
      <li><a href="?page={{ user_books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in user_books.paginator.page_range %}
      {% if user_books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if user_books.has_next %}
      <li><a href="?page={{ user_bookss.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

{% endblock %}